<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8" translate="no" lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .result {
        display:flex;
        font-size:5vh;
        padding-top:40vh;
        align-items: center;
        justify-content: center }
    </style>
    <title lang="en" translate="no">CU Open Rooms</title>
</head>
<body>

    <h1 class=result lang="en" translate="no">
        {{room}}
    </h1>

    <div class="bottom_menu">
        <a href="/room-later">some more functionality</a>
        <a href="/">github</a>
    </div>
</body>
</html>